<head>
  <style>
    body{
        background-image: url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltbded518020183769/5eb26f5389bac8148a8006cc/agent-background-generic.JPG");
        background-size:cover;
            background-position:center center;
            background-attachment:fixed;
    }
    .imageDiv{
        width :300px;
        height:300px;
        margin: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .weaponName{
        text-decoration: none;
        font-size: 35px;
        font-style:italic;
        color: rgb(238, 59, 78);
    }
    a{
        text-decoration: none;
        font: 15px;
    }
    .carouselDiv{
        width :600px;
        height:400px;
        display:relative;
    }
    .item{
        width: 300px;
        height: 300px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .whiteBackground{
        background-color: white;
        padding: 50px 0px 0px 0px;
        margin: 0px 100px 10px 100px;
        
    }
    /* .navImage{
        background-image: url("https://wallpaperboat.com/wp-content/uploads/2020/06/04/43354/valorant-18.jpg") ;
        background-position: center;
        background-size: cover;
    } */
    .navigate{
        margin: 0px 40px;
    }
    button{
        margin: 20px;
    }
</style>


</head>

      <div class="container text-center">
        <div class="row">
          <div class="col">
            <img src="https://media1.giphy.com/media/rHGa0NR0pT4L7uzrWS/giphy.webp" width="100%" alt="">
          </div>
          
           <div class="col">
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <% let count = 1 %>
                        <% armories.forEach(armory=>{%>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=count%>" aria-label="Slide <%=count+1%>"></button>
                            <% count ++ %>
                        <% }) %> 
                    </div>
                    <div class="carousel-inner carouselDiv">
                        <% count = 0 %>
                        <div class="carousel-item active container">
                            <div class ="carouselImageDiv">
                              <div class="  d-block w-100">
                                <div class="item  w-100">
                                 <img src="<%=(armories[count].displayIcon)%>"  width="370px" alt="...">
                                </div>
                              </div>
                               
                            </div>
                            
                        </div>
                        <% armories.forEach(armory=>{%>
                            <% if(count !== 0){ %> 
                            <div class="carousel-item container carouselImageDiv">
                              <div class="  d-block w-100">
                                <div class="item  w-100">
                                  <img src="<%=(armory.displayIcon)%>" width="370px"   alt="...">
                                </div>
                              </div>
                                   
                            </div>
                            <%}%>
                            <%count++%>
                        <%}) %> 
                     </div>
                     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
              </div>
          </div> 
  
          
          <div class="col">
            <img src="https://media4.giphy.com/media/eMDlV5Q2yGSLWGGzEj/giphy.webp?cid=ecf05e47dzjlmbvir7kv0h6512h5mmd79yx6f9newc0dinch&rid=giphy.webp&ct=s" width="100%" alt="">
          </div>
        </div>
      </div>
      <div>
        <div class=" whiteBackground">
        <%for(let i = 0;i<armories.length;i++){%>
            <% if(i%4 == 0){ %> 
            <div class="container text-center">
                <div class="row">
                <% } %> 
                
              <a href="armory/<%=armories[i].uuid%>" class="col imageDiv bg-image hover-overlay hover-zoom hover-shadow ripple p-3 mb-5 bg-body rounded span4">
                
                <div class="imageDiv col shadow-lg p-3 mb-5 bg-body rounded span4 bg-image hover-overlay hover-zoom hover-shadow ripple"> 
              <div>
                  <img class="img-fluid" src="<%=armories[i].displayIcon%>"   alt="...">
              </div>
              <div>
                <p class="weaponName"><%=armories[i].displayName%></p>
              </div> 
              </div>
            </a>


              <% if(i%4 == 3){ %> 
              </div>
            </div>
            <% } %> 
          <% } %> 
      </div>
      </div>
      
      
