<h2>Details</h2>
        
                <%=armory.displayName%>
                <%=armory.skins[0].chromas.streamVideo%>
                <%=armory.skins[1].chromas.streamVideo%>
                <%=armory.skins[2].chromas.streamVideo%>
                <%=armory.skins[3].chromas.streamVideo%>
                <%=armory.skins[4].chromas.streamVideo%>
                <%=armory.skins[5].chromas.streamVideo%>

                <form action="<%=armory.uuid%>" method="post">
                  <button>Add to favorite</button>
                </form>