<h2>Change Skin</h2>

    <%skins.forEach(skin =>{%>
    <div>
        <p> <%=skin.displayName %>  </p>            
        <img src="<%=skin.swatch %>" alt="">    
        <img src="<%=skin.displayIcon%> " alt=""> 
        <%=skin.uuid%>
        <% let id = skin.displayIcon %> 
        <form action="/users/favorite/skin/<%=skin.uuid%>/?_method=PUT" method="post">
            <input type="text" name="oldId" value="<%=oldId%>">
            <button>Make Default Favorite Skin</button>
        </form>
        
    </div>
    <% }) %> 
                          
                     

