<h2>Update Armory Model</h2>
<form action="/update" method="post">
    <div>
        <p>
            <label for="uuid">uuid:</label>
        </p>
        <input type="text" name="uuid" id="uuid" placeholder="<%//=armory.uuid%>" >       
    </div>
    <div> 
        <p>
            <label for="name">displayName:</label>
        </p>
        <input type="text" name="name" id="name" placeholder="<%//=armory.name%>"> 
    </div>
    <div>
        <p>
            <label for="stats">Stats:</label>
        </p>
        <input type="text" name="stats" id="stats" placeholder="<%//=armory.stats%>">
    </div>
    <div>
        <p>
            <label for="video">Video-Link:</label>
        </p>
        <input type="text" name="video" id="video" placeholder="<%//=armory.video%>">
    </div>
    <div>
        <p>
            <label for="userId">userId:</label>
        </p>
        <input type="text" name="userId" id="userId" >
    </div>
    <p></p>
    <button>Submit</button>
</form>


<div>
    <% if(chroma.streamedVideo){%>
        <%   if(chroma.displayIcon){%>
            <%=chroma.uuid  %>  
            <%=chroma.displayName %>             
            <img src="<%=chroma.swatch %>" alt="">    
            <video width="320" height="240" controls>
                <source src="<%=chroma.streamedVideo%>" type="video/mp4">
              </video>
             <img src="<%=chroma.displayIcon%> " alt="">
             <%=chroma.displayIcon%> 
                             
              <%  }%> 
        <% }else if(chroma.fullRender){%> 
            <%=chroma.uuid  %>  
                    <%=chroma.displayName %>             
                    <img src="<%=chroma.swatch %>" alt="">    
                    <video width="320" height="240" controls>
                        <source src="<%=chroma.streamedVideo%>" type="video/mp4">
                      </video>
                     <img src="<%=chroma.fullRender%> " alt="">
                     <%=chroma.displayIcon%> 
        <%}%> 
</div>
 