
      <div class="container text-center">
        <div class="row">
          <div class="col">
            Column
          </div>
          <div class="col">
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <% let count = 1 %>
                        <% armories.forEach(armory=>{%>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=count%>" aria-label="Slide <%=count+1%>"></button>
                            <% count ++ %>
                        <% }) %> 
                    </div>
                    <div class="carousel-inner">
                        <% count = 0 %>
                        <div class="carousel-item active container">
                            <div>
                                <img src="<%=(armories[count].displayIcon)%>"   alt="...">
                            </div>
                            
                        </div>
                        <% armories.forEach(armory=>{%>
                            <% if(count !== 0){ %> 
                            <div class="carousel-item container">
                                <div>
                                    <img src="<%=(armory.displayIcon)%>"   alt="...">
                                </div>
                            </div>
                            <%}%>
                            <%count++%>
                        <%}) %> 
                     </div>
                     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
              </div>
          </div>
          <div class="col">
            Column
          </div>
        </div>
      </div>
      <div class="container">
        <%for(let i = 0;i<armories.length;i++){%>
            <% if(i%3 == 0){ %> 
            <div class="container text-center">
                <div class="row">
                <% } %> 
              <div class="col">
                <a href="armory/<%=armories[i].uuid%>"><img src="<%=armories[i].displayIcon%>"   alt="..."></a>
                
              </div>
              <% if(i%3 == 2){ %> 
              </div>
            </div>
            <% } %> 
          <% } %> 
      </div>